#Sun Feb 26 16:04:19 CET 2012
aff.cheminpptexe=C\:/Program Files/Microsoft Office/Office/10powerpnt.exe
aff.header=Bienvenue au CESSPN
app.version=v0.90-gui
imp.pnc=dataImport/OATVPNC.xls
imp.delia.filter.stage=DRY, R\u00E9serve, Non Instruction, MTS
aff.footer=Bienvenue \u00C3\u00A0 tous nos stagiaires et \u00C3\u00A0 nos clients XL et Air Madagascar \!\!\!
imp.delia=dataImport/Export.txt
imp.pnt=dataImport/OATVPNT.xls
imp.delia.filter.cancel=true
imp.delia.cols=31
